@page {
  size: A4 portrait;
  margin: 10mm; /* căn lề chuẩn như Word */
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-container2,
  .print-container2 * {
    visibility: visible;
  }
  .print-container2 {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 100%;
    padding: 15px;
    background: #fff;
  }
  #__next :is(.sm\:\!p-12) {
    padding: 0rem !important;
  }
  [data-dark] {
    --mui-palette-text-primary: rgba(47, 43, 61, 0.9);
    --mui-palette-action-hover: rgba(47, 43, 61, 0.06);
    --mui-palette-text-secondary: rgba(47, 43, 61, 0.7);
    --mui-palette-divider: rgba(47, 43, 61, 0.12);
  }
  /* loại bỏ fixed + full height ở đây */
  .previewCard {
    position: static !important;
    overflow: visible !important;
    inline-size: 100% !important;
    margin-block: 0 !important;
    margin-inline: auto !important;
    padding: 0 !important;
    font-size: 13pt !important; /* cỡ chữ tương đương Word */
    background: #fff;
  }

  .previewCard table {
    inline-size: 100% !important;
    border-collapse: collapse;
    page-break-inside: auto;
    font-size: 13pt !important;
    font-family: 'Times New Roman', Times, serif;
  }

  .previewCard thead {
    display: table-header-group;
  }

  .previewCard tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  .previewCard th {
    font-weight: bold;
  }

  .previewCard th,
  .previewCard td {
    padding-block: 4px;
    padding-inline: 4px;
    text-align: start;
    font-size: 13pt !important;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #000;
  }

  /* Giới hạn cột "Tên báo cáo" */
  .previewCard td.report-name {
    white-space: normal !important;
    word-break: break-word;
  }

  .header-block {
    display: inline-block;
    text-align: center;
  }

  .bold-txu {
    font-weight: bold;
  }

  .italic-txu {
    font-style: italic;
  }

  .font-txu {
    font-size: 14pt !important;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
  }
  .font-txu-0 {
    font-size: 10pt !important;
    color: #3b3737c9;
    font-family: 'Times New Roman', Times, serif;
  }
  .font-txu-00 {
    font-size: 10pt !important;
    color: #414142c9;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  .font-txu-1 {
    font-size: 15pt !important;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
  }

  .font-txu-2 {
    font-size: 16pt !important;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
  }
  /* dddd */
  .headerWrapper {
    display: flex;
    justify-content: space-between;
    inline-size: 100%;
    margin-block-end: 20px;
  }

  /* --- Bên trái --- */
  .leftCol {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  /* --- Bên phải --- */
  .rightCol {
    display: flex;
    flex-direction: column;
    text-align: end;
  }
}

/* AAAAA */
/* loại bỏ fixed + full height ở đây */
.previewCard {
  position: static !important;
  overflow: visible !important;
  inline-size: 100% !important;
  margin-block: 0 !important;
  margin-inline: auto !important;
  padding: 0 !important;
  font-size: 13pt !important; /* cỡ chữ tương đương Word */
  background: #fff;
}

.previewCard table {
  inline-size: 100% !important;
  border-collapse: collapse;
  page-break-inside: auto;
  font-size: 13pt !important;
  font-family: 'Times New Roman', Times, serif;
}

.previewCard thead {
  display: table-header-group;
}

.previewCard tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

.previewCard th {
  font-weight: bold;
}

.previewCard th,
.previewCard td {
  padding-block: 4px;
  padding-inline: 4px;
  text-align: start;
  font-size: 13pt !important;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid #000;
}

/* Giới hạn cột "Tên báo cáo" */
.previewCard td.report-name {
  white-space: normal !important;
  word-break: break-word;
}

.header-block {
  display: inline-block;
  text-align: center;
}

.bold-txu {
  font-weight: bold;
}

.italic-txu {
  font-style: italic;
}

.font-txu {
  font-size: 14pt !important;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

.font-txu-0 {
  font-size: 10pt !important;
  color: #3b3737c9;
  font-family: 'Times New Roman', Times, serif;
}
.font-txu-00 {
  font-size: 10pt !important;
  color: #f15120c9;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.font-txu-1 {
  font-size: 16pt !important;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}

/* dddd */
.headerWrapper {
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
  margin-block-end: 20px;
}

/* --- Bên trái --- */
.leftCol {
  display: flex;
  flex-direction: column;
  text-align: start;
}

/* --- Bên phải --- */
.rightCol {
  display: flex;
  flex-direction: column;
  text-align: end;
}
